*{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
}

/*-----------------header---------------*/
.container{
    width: 100%;
    height: 70px;
    background-color: black;
    opacity: .7;
    position: fixed;
    z-index: 1 ;
    top: 0px;
}
.logo{
    height: 50px;
    width: 80px;
    margin-left: 100px;
    margin-top: 10px;
}
.li{
    top: 0px;
    font-size: 20px;
    display: inline;
    margin-right: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.a1{
    color: rgb(255, 0, 0);
    text-decoration: none;
}
.ul1{
    
    width: 700px;
    height: 1px;
    text-align: left;
    float: right;
    margin-top: 25px;
    
}
.spnli1 , .spnli2,.spnli3,.spnli4,.spnli5,.spnli6,.spnli7,.spnli8{
    display: block;
    background-color: blue;
    height: 3px;
    width: 50px;
    float: right;
    margin-right: 40px;
   margin-bottom: 30px;
   visibility: hidden;
}

/*-------------------------home----------------------------*/
.con{
    position: absolute;
}
.divz{
    z-index: 1;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}

.home{
    position: relative;
    top: 0px;
    text-align: center;
   
   /* background-color: black;*/
    width: 100%;
    height: 650px;
    background-image: url(../css/Images/ddd.jpg);
   

}
.hm{
   padding-top: 250px;
    color: white;
    font-size:60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.phm{
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.bhm1{
  
    color: black;
    background-color: white;
    width:150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    margin-right: 5px;
}
.bhm1:hover{
    background-color:  rgb(199, 198, 198);;
}
.bhm2{
    width:150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    background-color: blue;
    margin-left: 5px;
}
.bhm2:hover{
    background-color: rgb(6, 6, 143);
}
/*--------------------------------sec2-------------------------*/
.title{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}
.line2{
    display:block;
    width: 70px;
    height: 5px;
    background-color: rgb(48, 48, 236);
    margin-left: 640px;
    margin-top: 15px;
}
.sqr1{
    width: 300px;
    height: 190px;
    border: 2px rgb(160, 156, 156) solid;
    background-color: white;
    text-align: center;
    margin-left: 100px;
    float: left;
    padding-top:40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.sqr2{
    width: 300px;
    height: 190px;
    border: 2px rgb(160, 156, 156) solid;
    background-color: white;
    text-align: center;
    margin-left: 100px;
    float: left;
    padding-top:40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sqr3{
    padding-top:40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 300px;
    height: 190px;
    border: 2px rgb(160, 156, 156) solid;
    background-color: white;
    text-align: center;
    margin-left: 100px;
    float: left;
    
}


.sec2{
    width: 100%;
    height: 250px;
    display: block;
    margin-left: 20px;
  
}
a{
   text-decoration: none;
}
.sqr1:hover{
    
    background-color: gray;
    transition: 2s;
}
.sqr1:hover .a11{
    color: red;
}
.sqr1:hover .hh5{
    color: white;
}
.sqr1:hover .p1{
    color: white;
}
.p1{
    color: rgb(168, 164, 164);
    padding: 10px 0px;
}
.sqr2:hover{
    background-color: gray;
    transition: 2s;
}
.sqr2:hover .a2{
    color: red;
}
.sqr2:hover .hh2{
    color: white;
}
.sqr2:hover.p2{
    color: white;
}
.p2{
    color: rgb(168, 164, 164);
    padding: 10px 0px;
}
.sqr3:hover{
    background-color: gray;
    transition: 2s;
}
.sqr3:hover .a3{
    color: red;
}
.sqr3:hover .hh3{
    color: white;
}
.sqr3:hover .p3{
    color: white;
}
.p3{
    color: rgb(168, 164, 164);
    padding: 10px 0px;
}
/*------------------------------------------sec3---------------------------*/
.div3{
    background-color: #e8e8e8;
    height: 1250px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parent{
    display: block;
   margin-left: 140px;
}
.divx{
    width: 25%;
    height:300px;
    float: left;
    position: relative;
}
.divy{
    width: 25%;
    height:300px;
    float: left;
    margin: 0px 90px;
    position: relative;
}
.divzz{
    width: 25%;
    height:300px;
    float: left;
    position: relative;
  
}
.clear{
    clear: both;
}
.img_x{
    width: 90%;
    height: 90%;
    margin: 5% 5%;
}
.img_y{
    width: 90%;
    height: 90%;
    margin: 5% 5%;
}
.img_zz{
    width: 90%;
    height: 90%;
    margin: 5% 5%;
}
.overlay2{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
   position: absolute;
   opacity: 0;
   text-align: center;
   padding-top: 140px;
   text-decoration: none;
   line-height: 25px;
 
}
.overlay2:hover{
    opacity: 1;
    transition: 1s;
}
.category{
    color: rgb(41, 131, 204);
}
.spn_x{
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;

}

/*-------------------------------------------sec4----------------------------*/

.sqr1{
    width: 300px;
    height: 190px;
    border: 2px rgb(160, 156, 156) solid;
    background-color: white;
    text-align: center;
    margin-left: 100px;
    float: left;
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.sqr2{
    width: 300px;
    height: 190px;
    border: 2px rgb(160, 156, 156) solid;
    background-color: white;
    text-align: center;
    margin-left: 100px;
    float: left;
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sqr3{
    padding-top:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 300px;
    height: 190px;
    border: 2px rgb(160, 156, 156) solid;
    background-color: white;
    text-align: center;
    margin-left: 100px;
    float: left;
    
}
.sec2{
    width: 100%;
    height: 250px;
    display: block;
}
a{
   text-decoration: none;
}
.sqr1:hover{
    
    background-color: gray;
    transition: 2s;
}
.sqr1:hover .a11{
    color: red;
}
.sqr1:hover .hh5{
    color: white;
}
.sqr1:hover .p1{
    color: white;
}
.p1{
    color: rgb(168, 164, 164);
}
.sqr2:hover{
    background-color: gray;
    transition: 2s;
}
.sqr2:hover .a2{
    color: red;
}
.sqr2:hover .hh2{
    color: white;
}
.sqr2:hover.p2{
    color: white;
}
.p2{
    color: rgb(168, 164, 164);
}
.sqr3:hover{
    background-color: gray;
    transition: 2s;
}
.sqr3:hover .a3{
    color: red;
}
.sqr3:hover .hh3{
    color: white;
}
.sqr3:hover .p3{
    color: white;
}
.p3{
    color: rgb(168, 164, 164);
}
/*-----------------------------------------sec5----------------------------*/
.h{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left:150px;
    font-size: 40px;
}
.linne{
    display: block;
    background-color: blue;
    height: 5px;
    width: 50px;
    margin-left:150px;
    margin-top: 10px;
}
.para{
   margin-left:150px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: gray;
   line-height: 25px;
   font-size: 20px;
}
.sec5{
    width: 100%;
    height: 500px;
}
.lipara{
   margin-left: 165px; 
   color: gray;
   line-height: 30px;
   font-size: 20px;
   
}

   .li3{
    color: gray; 
    transform: rotate(90deg);
    padding-left: 100px;
   }
   .m2{
    width: 400px;
    height: 400px;
    float: right;
    margin-right: 130px;
}
.ul5{
    margin-left: 150px;
}
/*------------------------------------------------sec6---------------------------------*/
.sec6{
    position: relative;
    background-image: url(../css/Images/eee.jpeg);
    height: 350px;
    background-attachment: fixed;
    background-size: cover;
}
.container6{
    width: 80%;
    margin: auto;
}
.parent6{
    overflow: hidden;
  
}
.divn{
    width: 25%;
    float: left;
    text-align: center;
    padding-top: 140px;
}
.pn{
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pnn{
    color: white;
    font-size: 20px;
}

/*---------------------------------sec7----------------------------*/
  .parent7{
     
      overflow: hidden;
      width: 80%;
      margin: auto;
  }
  .div71,.div72,.div73{
      float: left;
      width: 30%;
      height: 350px;
      text-align: center;
      border: 1px solid gray;
  }
  .div72{
      margin: 0px  50px;
  }
  .div77{
      color: black;
      margin:20px 35%;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: 2px solid rgb(80, 146, 233);
      text-align: center;
  }
  .p771{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 55px;
  }
  .p772{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bold;
      font-size: 15px;
    }
    .p71,.p72,.p73,.p74{
        color: gray;
        font-size: 20px;
    }
    .p72,.p73,.p74{
        line-height: 30px;
    }
    .p71{
        padding-top: 20px;
    }
    .div777{
        padding-top: 3px;
        width: 120px;
        height: 30px;
        text-align: center;
        border: 2px solid rgb(80, 146, 233);
        margin: 20px 30%;
    }
    .div71:hover{
        background-color:rgba(0,0,0,0.7);
        transition: 1s;
    }
    .div72:hover{
        background-color:rgba(0,0,0,0.7);
        transition: 1s;
    }
    .div73:hover{
        background-color:rgba(0,0,0,0.7);
        transition: 1s;
    }
    .div72:hover .p71 {
        color: red;
       transition: 1s;
    }
    .div71:hover .p71 {
        color: red;
       transition: 1s;
    }
    .div73:hover .p71 {
        color: red;
       transition: 1s;
    }
    
    .div72:hover .div77 {
        color: red;
       transition: 1s;
    }
    /*--------------------------------------sec8-------------------------------------*/
    .div8{
        width: 100%;
        height: 350px;
        background-image: url(../css/Images/zzz.png);
        background-attachment: fixed;
        background-size: cover;
        position: relative;
    }
    .parent8{
        width: 80%;
        margin: auto;
        overflow: hidden;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .div81,.div82{
        float: left;
    }
    .div81{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-image: url(../css/Images/lockscreens.png);
        background-size: cover;
        margin-top: 80px;
        margin-left: 100px;
    }
    .div83{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-image: url(../css/Images/lockscreens.png);
        background-size: cover;
        float: left;
        margin-top: 80px;
        margin-left: 170px;
    }
    .div82{
        height: 100px;
        width: 200px;
        margin-left: 20px;
        margin-top: 110px;
    }
    .h82,.h84{
        color: white;
    }
    .p82,.p84{
        color: rgb(0, 153, 255);
    }
    .div84{
        height: 100px;
        width: 200px;
        margin-left: 20px;
        margin-top: 110px;
        float: left;
    }
    .ppar1,.ppar2{
        color: white;
    }
    .par1,.par2{
        float: left;
        width: 38%;
        margin: 0px 40px;
    }
    .par1{
        margin-left: 110px;
    }
    /*-------------------------------------------------sec9-------------------------------*/
    .parent9{
        width: 80%;
        margin: auto;
        overflow: hidden;
    }
    .div91{
        float: left;
        width: 25%;
        height: 320px;
        background-color: rgb(218, 213, 213);
        position: relative;
    }
    .div92{
        float: left;
        width: 25%;
        height: 320px;
        background-color: rgb(218, 213, 213);
        margin: 0px 130px;
    }
    .divimg{
        position: relative;
        width: 80%;
        margin: 7% 10%;
        height: 70%;
    }
    .img91{
        width: 100%;
        height:100%;
    }
    .icon{
        position: absolute;
        z-index: 1;
        right: 0px;
        top: 0px;
        height:80px;
        width:30px;
       background-color: rgb(0, 162, 255);
       color: white;
       text-align:center ;
       padding-top: 7px;
       opacity: 0;
        
    }
    .pem,.pmo{
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        line-height: 15px;
        padding-bottom: 15px;
    }
    .pem{
        color: gray;
    }
    .div91:hover .icon{
        opacity: 1;
        transition:1s;

    }
    .div92:hover .icon{
        opacity: 1;
        transition:1s;

    }
   
    /*--------------------------------------sec10---------------------------*/
    .parent10{
        width: 80%;
        margin: auto;
        height: 500px;
        overflow: hidden;
      background-color: #f8f8f8;
    }
    .div101,.div102,.div103{
        width: 30%;
        height: 500px;
        background-color: white;
        position: relative;
        overflow: hidden;

    }
    .div101,.div102{
        float: left;
    }
    .glo{
       height:0px;
      
        background-color: rgb(88, 174, 245);
        opacity: 0.5;
        position: absolute;
    }
    .div101:hover .glo{
        height: 100%;
        width: 100%;
        transition: 1s;
    }
    .div102:hover .glo{
        height: 100%;
        width: 100%;
        transition: 1s;
    }
    .div103:hover .glo{
        height: 100%;
        width: 100%;
        transition: 1s;
    }
    .div102{
        margin: 0px 53px;
    }
    .div103{
        float: right;
    }
    .img101{
        width: 70%;
        height: 55%;
    }
    .icon10{
        font-size: 12px;
     
    }
    .h_icon{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .p_icon{
        color: gray;
        line-height: 20px;
        font-size: 17px;
    }
    .a_icon{
        text-decoration: none;
        color: rgb(0, 132, 255);
    }
    /*-----------------------------------sec11-----------------------------*/
    .div11{
        width: 100%;
        height: 280px;
        background-color: #4c4d52;
    }
    .img11{
        width: 170px;
        height: 70px;
        margin-left: 43%;
      margin-top: 60px;
      
        
    }
    .icon11{
       text-align: center;
       color: white;
       font-size: 25px;
       margin-left: 500px;
       margin-top: 20px;
       overflow: hidden;
       
    }
    .ic{
        height: 50px;
        width: 50px;
        background-color: rgb(65, 126, 240);
        border-radius: 50%;
        float: left;
        margin: 0px 3px;
    }
    .ic:hover{
        background-color: rgb(0, 89, 255);
    }
    .p12{
        color: rgb(180, 174, 174);
        font-size: 15px;
        text-align: center;
        padding-top: 20px;
    }